/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system

@use "@/assets/styles/layout/layout" as *;

.auth-card-shell {
	border-radius: 26px;
	padding: 0.3rem;
	margin-top: 50px;
	background: linear-gradient(
		180deg,
		var(--primary-color) 10%,
		rgba(33, 150, 243, 0) 30%
	);
}

.auth-card-panel {
	border-radius: 53px;
}
